

<form [formGroup]="NoteEditForm" (ngSubmit)="save()">
  <label>NoteId:
    <input formControlName="NotesId" [(ngModel)]="NoteToDisplay.notesId">
  </label>
  <label>Title:
    <input formControlName="Title" [(ngModel)]="NoteToDisplay.title" placeholder="Title" />
  </label>
  <label>Text:
    <input type="text" formControlName="Text" [(ngModel)]="NoteToDisplay.text" />
  </label>
  <label>IsPinned:
    <input type="radio" class="form-control" [(ngModel)]="NoteToDisplay.isPinned" value="true" formControlName="IsPinned" checked/>Yes
    <input type="radio" class="form-control" [(ngModel)]="NoteToDisplay.isPinned" value="false" formControlName="IsPinned" />No
  </label>

  <div formArrayName="CheckLists">
    <h2>CheckList</h2>
    <a (click)="addCheckList()">AddCheckList</a>

    <div *ngFor="let checklist of CheckLists.controls; let i = index">
      <div [formGroupName]="i">
        <div *ngIf="NoteToDisplay.checkLists[i] != null">
          <label>CheckList:
            <input type="text" formControlName="ChecklistData" [(ngModel)]="NoteToDisplay.checkLists[i].checklistData" />
          </label>
          <label>IsChecked:
            <input type="radio" class="form-control" [(ngModel)]="NoteToDisplay.checkLists[i].isChecked" value="true" formControlName="IsChecked" checked/>Yes
            <input type="radio" class="form-control" [(ngModel)]="NoteToDisplay.checkLists[i].isChecked" value="false" formControlName="IsChecked" />No
          </label>
        </div>
        <div *ngIf="NoteToDisplay.checkLists[i] == undefined">
          <label>CheckList:
            <input type="text" formControlName="ChecklistData" />
          </label>
          <label>IsChecked:
            <input type="radio" class="form-control"  value="true" formControlName="IsChecked" checked/>Yes
            <input type="radio" class="form-control"  value="false" formControlName="IsChecked" />No
          </label>
        </div>
      </div>
    </div>
  </div>
  <div formArrayName="Labels">
    <h2>Labels</h2>
    <a (click)="addLabel()">AddLabels</a>
    <div *ngFor="let label of Labels.controls; let i = index">
      <div [formGroupName]="i">
        <div *ngIf="NoteToDisplay.labels[i] !=null">
          <label>Label:
            <input type="text" formControlName="labelName" [(ngModel)]="NoteToDisplay.labels[i].labelName">
          </label>
        </div>
        <div *ngIf="NoteToDisplay.labels[i] == undefined">
          <label>Label:
            <input type="text" formControlName="labelName" >
          </label>
        </div>
      </div>
    </div>
  </div>
  <button type="submit">submit</button>
</form>
<button (click)="goBack()">Go back</button>

